.our-news {
    background-color: $c-white-2;

    .container {
        .items-box {
            .item {
                min-height: 470px;
                width: 31.333%;
                overflow: hidden;

                .img {
                    height: 230px;
                    background-color: $c-dark;

                    img {
                        background-size: cover;
                        background-position: center;
                        opacity: 0.7;
                    }
                }

                .title {
                    font-size: 1.1rem;
                    color: $c-dark;
                    font-family: $f-head;
                }

                .name, .tag, .date {
                    color: $c-dark;
                }

                button {
                    width: 120px;
                    height: 50px;
                    background-color: $c-white;
                    color: $c-main;
                    border-radius: 30px;
                    border: 1px solid;
                    transition: all 0.3 ease-in-out;

                    &:hover {
                        background-color: $c-main;
                        color: $c-white-2;
                    }
                }
            }
        }

        .see-all {
            width: 130px;
            height: 50px;
            background-color: $c-main;
            color: $c-white-2;
        }
    }
}